.listas{
    text-align: center;
    position:relative;
}
    .lista{
        border-radius: 10px;
        height: 100%;
        background-color: #E8E8E8;
        text-align: center;
    }
        .lista ul{
            min-height: 20px;
        }
        .as-sortable-item-handle{
            word-wrap: break-word;
        }

.projects{
    margin-top: 30px;
}
