<!DOCTYPE html>
<html ng-app="scrumattack">

<head>
    <title>Scrum Attack</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/ng-sortable/dist/ng-sortable.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="content">
        <div class="navbar" ng-include="'views/navbar.html'"></div>
        <div ng-controller="BoardsController" id="listas" class="listas col-md-12 text-center">
            <div class="lista col-md-3">
                <h3>Sprint</h3>
                <ul id="listaSprint" as-sortable="dragHandler" data-ng-model="listaSprint" class="list-group">
                    <li ng-repeat="item in listaSprint" as-sortable-item class="list-group-item as-sortable-item">
                        <div as-sortable-item-handle class="as-sortable-item-handle">
                            {{item.titulo}}
                            <span class="badge">{{item.tiempo}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="lista col-md-3 col-md-offset-1">
                <h3>Doing</h3>
                <ul id="listaDoing" as-sortable="dragHandler" data-ng-model="listaDoing" class="list-group">
                    <li ng-repeat="item in listaDoing" as-sortable-item class="list-group-item as-sortable-item">
                        <div as-sortable-item-handle class="as-sortable-item-handle">
                            {{item.titulo}}
                            <span class="badge">{{item.tiempo}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="lista col-md-3 col-md-offset-1">
                <h3>Done</h3>
                <ul id="listaDone" as-sortable="dragHandler" data-ng-model="listaDone" class="list-group">
                    <li ng-repeat="item in listaDone" as-sortable-item class="list-group-item as-sortable-item">
                        <div as-sortable-item-handle class="as-sortable-item-handle">
                            {{item.titulo}}
                            <span class="badge">{{item.tiempo}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="libs/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="libs/angular/angular.min.js" charset="utf-8"></script>
    <script src="libs/angular-cookies/angular-cookies.min.js"></script>
    <script src="libs/ng-sortable/dist/ng-sortable.min.js" charset="utf-8"></script>
    <script src="app/app.js" charset="utf-8"></script>
    <script src="https://api.trello.com/1/client.js?key=16abd68d84b6d0cc273d1f1810eb24ec"></script>
    <script src="app/controllers/main.controller.js" charset="utf-8"></script>
    <script src="app/modules/auth.module.js" charset="utf-8"></script>
    <script src="app/services/auth.service.js" charset="utf-8"></script>
    <script src="app/controllers/auth.controller.js" charset="utf-8"></script>
    <script src="app/boards/BoardsModule.js" charset="utf-8"></script>
    <script src="app/boards/controller/boards.controller.js" charset="utf-8"></script>
    <script src="app/boards/services/organizations.services.js" charset="utf-8"></script>
    <script src="app/boards/services/boards.services.js" charset="utf-8"></script>
    <script src="app/boards/services/listas.services.js" charset="utf-8"></script>
    <script src="app/boards/services/cards.services.js" charset="utf-8"></script>
</body>

</html>
