<div>
    <div class="nuevo">
        <button class="btn btn-big btn-primary" ng-click="openModalCreateProject()">Create a new project</button>
    </div>
    <div class="projects">
        <div ng-repeat="project in projects" class="panel panel-primary col-md-3 project">
            <div class="panel-heading">
                <h3 class="panel-title">{{project.name}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <buttton class="btn btn-primary col-md-5" ng-click="openProject(project, 'sprint')">Sprint</buttton>
                    <buttton class="btn btn-primary col-md-5" ng-click="openProject(project, 'projectPlanning')">Project Planning</buttton>
                </div>
                <div class="row">
                    <buttton class="btn btn-primary col-md-5" ng-click="openProject(project, 'sprintPlanning')">Sprint Planning</buttton>
                    <buttton class="btn btn-primary col-md-5" ng-click="openProject(project, 'burnDown')">Burn Down</buttton>
                </div>
                <div class="row">
                    <buttton class="btn btn-primary col-md-5" ng-click="openProject(project, 'startSprint')">Start Sprint</buttton>
                </div>
            </div>
        </div>
    </div>
</div>
