<div class="wrapper">

    <div id="formSP" class="col-md-4">
        <div class="modal-body">
            <form action="">
                <div class="form-group">
                    <label for="pbiName">Product Backlog Item</label>
                    <input id="pbiName" class="form-control" ng-model="pbi.name" type="text" placeholder="Name" ng-required='required'>
                    <label for="pbiDescription">Description</label>
                    <input id="pbiDescription" class="form-control" ng-model="pbi.description" type="text" placeholder="Description" ng-required='required'>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="addPBI(pbi)">Add</button>
            <button class="btn btn-danger" type="button" ng-click="pbi={};">Clear</button>
        </div>
    </div>
    <div class="lista col-md-3 col-md-offset-1">
        <h3>Product Backlog</h3>
        <ul id="Doing" as-sortable="dragHandler" data-ng-model="lists.Doing.tasks" class="list-group">
            <li ng-repeat="item in lists.PBI.tasks" as-sortable-item class="list-group-item as-sortable-item">
                <div as-sortable-item-handle class="as-sortable-item-handle">
                    {{item.name}}
                    {{item.desc}}
                </div>
            </li>
        </ul>
    </div>
</div>
