<div class="lista col-md-3">
    <h3>Sprint</h3>
    <ul id="Sprint" as-sortable="dragHandler" data-ng-model="lists.Sprint.tasks" class="list-group">
        <li ng-repeat="item in lists.Sprint.tasks" as-sortable-item class="list-group-item as-sortable-item">
            <div as-sortable-item-handle class="as-sortable-item-handle">
                {{item.name}}
                <span class="badge">{{item.duration}}</span>
                {{item.desc}}
            </div>
        </li>
    </ul>
</div>
<div class="lista col-md-3 col-md-offset-1">
    <h3>Doing</h3>
    <ul id="Doing" as-sortable="dragHandler" data-ng-model="lists.Doing.tasks" class="list-group">
        <li ng-repeat="item in lists.Doing.tasks" as-sortable-item class="list-group-item as-sortable-item">
            <div as-sortable-item-handle class="as-sortable-item-handle">
                {{item.name}}
                <span class="badge">{{item.duration}}</span>
                {{item.desc}}
            </div>
        </li>
    </ul>
</div>
<div class="lista col-md-3 col-md-offset-1">
    <h3>Done</h3>
    <ul id="Done" as-sortable="dragHandler" data-ng-model="lists.Done.tasks" class="list-group">
        <li ng-repeat="item in lists.Done.tasks" as-sortable-item class="list-group-item as-sortable-item">
            <div as-sortable-item-handle class="as-sortable-item-handle">
                {{item.name}}
                <span class="badge">{{item.duration}}</span>
                {{item.desc}}
            </div>
        </li>
    </ul>
</div>
